.header {
  position: absolute;
  width: 1520px;
  height: 128px;
  left: 200px;
  top: 20px;
}

.wezom_logo {
  position: absolute;
  width: 114px;
  height: 41px;
  left: 39.99px;
  top: 0;
}

.catalog {
  position: absolute;
  width: 371px;
  height: 60px;
  left: 40px;
  top: 60px;
  /* permanent yellow */
  background: #FFBE48;
  border-top-left-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog_image {
  width: 25.5px;
  height: 19.5px;
  left: 261.5px;
  top: 100px;
  margin-top: 20px;
  margin-left: 21.5px;
}

.text_catalog {
  left: 67px;
  top: 80px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  /* or 29px */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 1px;
  color: #FFFFFF;
  margin-left: 20px;
}

.container {
  max-width: 1552px;
  padding: 0 15px;
  margin: 0 auto;
}

.all_category_text {
  position: absolute;
  width: 94px;
  height: 48px;
  left: calc(50% - 94px/2 - 421px);
  top: 80px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  color: #FFFFFF;
}

.search {
  /* stroke */
  border: none;
  background: #DDE8F0;
  border-radius: 10px;
  position: absolute;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 120%;
  /* or 19px */
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* permanent dark blue */
  color: #33485D;
  opacity: 0.7;
  outline: none;
  padding: 0 15px;
}

.search_field {
  position: relative;
  width: 773.94px;
  height: 50px;
  left: 450px;
  top: 65px;
}

.btn {
  position: absolute;
  right: 0;
  background: none;
  border: none;
  height: 18px;
  width: 18.02px;
  top: 33%;
  bottom: 50%;
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
  cursor: pointer;
}

li,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu {
  position: absolute;
  width: 550.67px;
  height: 24px;
  top: 29px;
  left: 600.01px;
  bottom: 32px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  vertical-align: top;
  display: inline-block;
  list-style: none;
  color: #33485D;
}

.nav-menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-menu__item + .nav-menu__item {
  margin-left: 15px;
}

a {
  text-decoration: none;
  color: #33485D;
}

a::after {
  position: absolute;
  content: "";
  background: #33485D;
  height: 1px;
  width: 0;
  bottom: -3px;
  font-weight: 700;
}

a:hover::after {
  width: 79.1px;
  left: 0;
}

.login {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  left: 1391px;
  top: 10px;
  right: 0;
  background: none;
  border: none;
  height: 18px;
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
  cursor: pointer;
}

.login__text {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #33485D;
  margin-left: -72px;
  top: 30px;
}

.ch__lang__UA {
  position: absolute;
  width: 18px;
  height: 17px;
  left: 1262px;
  top: 10px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 1px;
  background: none;
  border: none;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  cursor: pointer;
  color: #33485D;
}

.ch__lang__Ru {
  position: absolute;
  width: 18px;
  height: 17px;
  left: 1311px;
  top: 10px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 1px;
  background: none;
  border: none;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  cursor: pointer;
  color: #33485D;
}

.num__phone__header {
  position: absolute;
  left: 1280px;
  right: -0.1%;
  top: 32px;
  bottom: 0%;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 120%;
  /* identical to box height, or 17px */
  text-transform: uppercase;
  /* permanent dark blue */
  color: #33485D;
}

.similar {
  position: absolute;
  left: 1414px;
  right: 0%;
  top: 81px;
  bottom: 0%;
  /* permanent smoke yellow */
  border: 2px solid #FFCB6D;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: none;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  cursor: pointer;
}

.favorites {
  position: absolute;
  left: 1502px;
  right: 0%;
  top: 81px;
  bottom: 0%;
  border: 2px solid #FFCB6D;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: none;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  cursor: pointer;
}

.shopping__cart {
  position: relative;
  left: 1590px;
  right: 0%;
  top: 81px;
  bottom: 0%;
  /* white */
  background: #FFFFFF;
  /* permanent smoke yellow */
  border: 2px solid #FFCB6D;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top-right-radius: 18px;
  background: none;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  cursor: pointer;
}

.clc__cart_add {
  position: absolute;
  left: 60%;
  right: 6.67%;
  top: 11.67%;
  bottom: 55%;
  /* permanent yellow */
  background: #FFBE48;
  border: 2px solid #FFBE48;
  border-radius: 18px;
  height: 20px;
  width: 30px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 120%;
  /* identical to box height, or 17px */
  letter-spacing: 1px;
  text-transform: uppercase;
  /* permanent dark blue */
  color: #33485D;
}