.header {
  position: absolute;
  width: 1520px;
  height: 128px;
  left: 200px;
  top: 20px;
}

.wezom_logo {
  position: absolute;
  width: 114px;
  height: 41px;
  left: 39.99px;
  top: 0;
}

.catalog {
  position: absolute;
  width: 371px;
  height: 60px;
  left: 40px;
  top: 60px;
  /* permanent yellow */
  background: #FFBE48;
  border-top-left-radius: 10px;
  display: flex;
}

.catalog_image {
  width: 25.5px;
  height: 19.5px;
  left: 261.5px;
  top: 100px;
  margin-top: 20px;
  margin-left: 21.5px;
}

.text_catalog {
  left: 67px;
  top: 80px;
  font-family: "Roboto",sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  /* or 29px */
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  color: #FFFFFF;
  margin-left: 20px;
}

.container {
  max-width: 1552px;
  padding: 0 15px;
  margin: 0 auto;
}

.all_category_text {
  position: absolute;
  width: 94px;
  height: 48px;
  left: calc(50% - 94px/2 - 421px);
  top: 80px;
  font-family: 'Roboto',sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  color: #FFFFFF;
}

.search {
  /* stroke */
  border: none;
  background: #DDE8F0;
  border-radius: 10px;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  font-family: 'Roboto',sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 120%;
  /* or 19px */
  display: flex;
  align-items: center;
  /* permanent dark blue */
  color: #33485D;
  opacity: 0.7;
  outline: none;
  padding: 0 15px;
}

.search_field {
  position: relative;
  width: 773.94px;
  height: 50px;
  left: 450px;
  top: 65px;
}

.btn {
  position: absolute;
  right: 0;
  background: none;
  border: none;
  height: 18px;
  width: 18.02px;
  top: 33%;
  bottom: 50%;
  transform: translatex(-50%);
  cursor: pointer;
}

li,
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.menu__list {
  display: flex;
}

.menu__list-item {
  position: relative;
}

.menu__list-item::before {
  position: absolute;
  content: '';
  width: 0;
  height: 2px;
  background-color: #33485D;
  bottom: -5px;
  right: 0;
  transition: all 0.3s ease-in-out;
  font-size: 14px;
  font-family: 'Roboto',sans-serif;
  color: #33485D;
}

.menu__list-item:hover::before {
  width: 100%;
  left: 0;
  right: auto;
}

.menu__list-item:hover {
  font-weight: 700;
  font-size: 14px;
}

.menu__list-item + .menu__list-item {
  margin-left: 15px;
}

.menu {
  position: absolute;
  left: 471.21px;
  top: 29px;
  font-size: 14px;
  font-family: 'Roboto',sans-serif;
  font-weight: 400;
  color: #33485D;
}

.menu__list-link {
  position: relative;
}

.menu__list-link::after {
  position: absolute;
  content: '';
  width: 5px;
  height: 5px;
  background-color: #DDE8F0;
  top: 50%;
  bottom: 50%;
  right: -12px;
  transform: translateY(-50%);
  border-radius: 100%;
}

.menu__list-item:last-child .menu__list-link::after {
  display: none;
}

.login {
  position: absolute;
  display: flex;
  width: max-content;
  left: 1363.21px;
  top: 28px;
  right: 0;
  background: none;
  border: none;
  height: 18px;
  transform: translatex(-50%);
  cursor: pointer;
}

.login__text {
  font-family: 'Roboto',sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #33485D;
  margin-left: -72px;
  top: 30px;
}

.ch__lang__UA {
  position: absolute;
  width: 18px;
  height: 17px;
  left: 1182.21px;
  top: 30px;
  font-family: 'Roboto',sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 1px;
  background: none;
  border: none;
  transform: translateX(-50%);
  cursor: pointer;
  color: #33485D;
}

.ch__lang__Ru {
  position: absolute;
  width: 18px;
  height: 17px;
  left: 1231.21px;
  top: 30px;
  font-family: 'Roboto',sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 1px;
  background: none;
  border: none;
  transform: translateX(-50%);
  cursor: pointer;
  color: #33485D;
}

.num__phone__header {
  position: absolute;
  left: 1000.21px;
  right: -0.1%;
  top: 32px;
  bottom: 0;
  width: 119.14px;
  height: 17px;
  font-family: 'Roboto',sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 120%;
  /* identical to box height, or 17px */
  text-transform: uppercase;
  /* permanent dark blue */
  color: #33485D;
}

.buttons {
  position: absolute;
  display: flex;
  width: max-content;
  left: 1124,6px;
  top: 81px;
  margin-left: -50px;
  margin-top: -100px;
}

.similar {
  position: absolute;
  left: 1414px;
  right: 0;
  top: 81px;
  bottom: 0;
  /* permanent smoke yellow */
  border: 2px solid #FFCB6D;
  box-sizing: border-box;
  background: none;
  transform: translateX(-50%);
  cursor: pointer;
  width: 90px;
  height: 60px;
}

.favorites {
  position: absolute;
  left: 1502px;
  right: 0;
  top: 81px;
  bottom: 0;
  border: 2px solid #FFCB6D;
  box-sizing: border-box;
  background: none;
  transform: translateX(-50%);
  cursor: pointer;
  width: 90px;
  height: 60px;
}

.shopping__cart {
  position: absolute;
  left: 1590px;
  right: 0;
  top: 81px;
  bottom: 0;
  /* white */
  background: #FFFFFF;
  /* permanent smoke yellow */
  border: 2px solid #FFCB6D;
  box-sizing: border-box;
  border-top-right-radius: 18px;
  background: none;
  transform: translateX(-50%);
  cursor: pointer;
  width: 90px;
  height: 60px;
}

.shopping__cart.active {
  position: absolute;
  left: 1590px;
  right: 0;
  top: 81px;
  bottom: 0;
  /* white */
  background: #47B39C;
  /* permanent smoke yellow */
  border: 2px solid #47B39C;
  box-sizing: border-box;
  border-top-right-radius: 18px;
  transform: translateX(-50%);
  cursor: pointer;
  width: 90px;
  height: 60px;
}

.shopping__cart.active svg path {
  fill: #FFFFFF;
}

.clc__cart_add {
  position: absolute;
  left: 60%;
  right: 6.67%;
  top: 11.67%;
  bottom: 55%;
  /* permanent yellow */
  background: #FFBE48;
  border: 2px solid #FFBE48;
  border-radius: 18px;
  height: 20px;
  width: 30px;
  font-family: 'Roboto',sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 120%;
  /* identical to box height, or 17px */
  letter-spacing: 1px;
  text-transform: uppercase;
  /* permanent dark blue */
  color: #33485D;
}

.clc__cart_add.active {
  position: absolute;
  left: 60%;
  right: 6.67%;
  top: 11.67%;
  bottom: 55%;
  /* permanent yellow */
  background: #FFFFFF;
  border: 2px solid #FFFFFF;
  border-radius: 18px;
  height: 20px;
  width: 30px;
  font-family: 'Roboto',sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 120%;
  /* identical to box height, or 17px */
  letter-spacing: 1px;
  text-transform: uppercase;
  /* permanent dark blue */
  color: #33485D;

}

.elips {
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #33485D;
  left: 1215.21px;
  top: 35px;
}

.burger_nav {
  position: absolute;
  width: 341px;
  height: max-content;
  top: 120px;
  left: 40px;
  font-size: 18px;
  font-family: 'Roboto',sans-serif;
  font-weight: normal;
  color: #33485D;
  line-height: 70px;
  background: #FFFFFF;
  align-items: center;
  display: flex;
  vertical-align: top;
  box-shadow: 0 5px 10px rgba(0,0,0,0.5);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 14px 15px 15px;
  transform: translateX(-180%);
}

.category__list-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

.category__list-link img {
  margin-right: 16px;
}

.category__list-item{
  width: 350px;
  position: relative;
}

.category__list-item::before{
width: 350px;
width: 358px;
height: 50px;
left: 358px;
top: -1px;
content: "";
position: relative;



background: #DDE8F0;
border-radius: 20px;
}

.category__list-item:hover:before{
  width: 100%;
}


.a{
  display: flex;
}

.burger_nav.active {
  position: absolute;
  width: 341px;
  height: max-content;
  top: 120px;
  left: 40px;
  font-size: 18px;
  font-family: 'Roboto',sans-serif;
  font-weight: normal;
  color: #33485D;
  line-height: 70px;
  background: #FFFFFF;
  align-items: center;
  display: flex;
  vertical-align: top;
  box-shadow: 0 5px 10px rgba(0,0,0,0.5);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  transform: translateX(0);
  padding: 14px 15px 15px;
  z-index: 999999999;
}

.basket__hovering {
  position: absolute;
  width: 338px;
  height: 280px;
  left: 0;
  top: 341px;
  /* white */
  background: #FFFFFF;
  /* zalem-shadow */
  box-shadow: 0 10px 80px rgba(0, 52, 41, 0.3);
  border-radius: 20px;
}

.basket__btn {
  position: absolute;
  display: flex;
  width: 277px;
  height: 60px;
  left: 170px;
  top: 131px;
  background: #47B39C;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: none;
  transform: translatex(-50%);
  cursor: pointer;
  font-family: 'Roboto',sans-serif;
  font-size: 24px;
  color: white;
  text-align: center;
  padding-top: 15px;
  padding-left: 21px;
}

.basket_btn_txt {
  margin-right: 16px;
}

.in__cart {
  position: absolute;
  top: 48px;
  left: 30px;
}

.in__cart_totall {
  position: absolute;
  top: 69px;
  left: 30px;
}

.basket__hovering {
  font-family: 'Roboto',sans-serif;
  color: #5C6D7D;
  left: 1250px;
  top: 150px;
  transform: translateX(-1000%);

}

.basket__hovering.active {
  font-family: 'Roboto',sans-serif;
  color: #5C6D7D;
  left: 1250px;
  top: 150px;
  transform: translateX(0);
  z-index: 99999999;

}

.edit_order {
  position: absolute;
  top: 221px;
  left: 30px;
  font-family: 'Roboto',sans-serif;
  color: #33485D;
  position: relative;
  width: 181.97px;

}

.edit_order::before {
  content: "";
  left: 0;
  /*изменить на right:0;, чтобы изменить направление подчёркивания */
  width: 0;
  /*задаём длинну линии до наведения курсора*/
  height: 1px;
  /*задаём ширину линии*/
  background-color: #5C6D7D;
  /*задаём цвет линии*/
  position: absolute;
  transition: width 0.3s ease-out;
  bottom: 0;

}

.edit_order:hover:before {
  width: 181.97px;

}



/*main-part*/

main{
  position: absolute;
width: 1920px;
height: 720px;
left: calc(50% - 1920px/2);
top: 170px;

background: linear-gradient(180deg, #219653 0%, #FFFFFF 100%);
}



.bag{
  position: absolute;
width: 1522px;
height: 957px;
left: 199px;
top: 30px;

background: #FFFFFF;
}


.text_bag{
position: absolute;
width: 315px;
height: 14px;
left: 44px;
top: 20px;

font-family: 'Roboto'sans-serif;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 120%;
/* or 14px */


color: #33485D;

opacity: 0.5;
}



.top{
position: absolute;
width: 589px;
height: 22px;
left: 769px;
top: 93px;
text-align: center;
display: flex;
vertical-align: center;
font-family: 'Roboto'sans-serif;
font-style: normal;
font-weight: normal;
font-size: 12px;
}


.art{
  position: absolute;
width: 109px;
height: 17px;
left: 1249px;
top: 66px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 120%;
/* identical to box height, or 17px */


/* permanent blue smoke */

color: #5C6D7D;

}



.control{
  position: absolute;
width: 589px;
height: 221px;
left: 726px;
top: 58px;
}

.promo{

position: absolute;
width: 110px;
height: 60px;
left:0px;
top: 0px;

/* Red */

background: #EB5757;
border-top-left-radius: 20px;
font-family: 'Roboto',sans-serif;
color: #FFFFFF;
font-size: 24px;
text-align: center;
}


.pro_description{
  position: absolute;
width: 478px;
height: 60px;
left: 101px;
top: 0px;

background: #FDEEEE;
border-top-right-radius: 20px;
font-family: 'Roboto',sans-serif;
color: #EB5757;
font-size: 16px;
text-align: center;
}


.to_cart{
  position: absolute;
width: 226px;
height: 60px;
left: 100px;
top: 219px;

background: #219653;
border-bottom-left-radius: 20px;
border: none;
  transform: translatex(-50%);
  cursor: pointer;
  font-family: 'Roboto',sans-serif;
  font-size: 24px;
  color: white;
  text-align: center;
  box-sizing: border-box;
    display: flex;
}

.fav_con{
  position: absolute;
  left: 302px;
  right: 0;
  top: 120px;
  bottom: 0;
  border: 2px solid #FFCB6D;
  box-sizing: border-box;
  background: none;
  transform: translateX(-50%);
  cursor: pointer;
  width: 90px;
  height: 60px;
}


.sim_con{
  position: absolute;
  left: 390px;
  right: 0;
  top: 120px;
  bottom: 0;
  /* permanent smoke yellow */
  border: 2px solid #FFCB6D;
  box-sizing: border-box;
  background: none;
  transform: translateX(-50%);
  cursor: pointer;
  width: 90px;
  height: 60px;
}
