body{
  height: 720px;
  width: 1920px;
  font-family: "Roboto",sans-serif;
}

.header{
  position: absolute;
width: 1520px;
height: 128px;
left: 200px;
top: 20px;
}

.wezom_logo{
position: absolute;
width: 114px;
height: 41px;
left: 39.99px;
top: 0px;
}
