.header{
position: absolute;
width: 1520px;
height: 128px;
left: 200px;
top: 20px;
}


.wezom_logo{
position: absolute;
width: 114px;
height: 41px;
left: 39.99px;
top: 0px;
}


.catalog{
position: absolute;
width: 371px;
height: 60px;
left: 40px;
top: 60px;

/* permanent yellow */

background: #FFBE48;
border-top-left-radius: 10px;
}
